.swipee{
    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.swipee .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0,0,0,0.3) !important;
}
.lll{
    padding: 1.5vw !important;
    color: #f5b748 !important;
}
.ll{
    padding: 1.5vw !important;
    color: #ec5e6f !important;
}
.l{
    padding: 1.5vw !important;
    color: #62b4f9 !important;
}
.r{
    padding: 1.5vw !important;
    color: #76e2b3 !important;
}
.rr{
    padding: 1.5vw !important;
    color: #915dd1 !important;
}
